.register-container{
    @include container;
    @include d-column-center;
    min-height: 100vh;
    .register-back-container{
        .register-back{@include button-back;}
        @include padding5;
        @include div-width;
        margin: 0;
    }
    .register-h1{ text-align: center; }

    .register{
        @include div-width;
        @include padding50;
        .register-h1{ text-align: center; }

        .register-filter{
            background-color: $platimun;
            border: 3px solid $platimun;

            @include padding15;
            @include vertical-margin15;
            border-radius: 20px;
            h3{ @include vertical-margin10;}
        }

        
    }
}




// TABLET
@media screen and (max-width: 768px){
    .register-container{
        .register{ @include padding25; }
    }    
}

// MOBILE
@media screen and (max-width: 360px) {
    .register-container{
        .register{ @include padding10; }
    } 
}